
    .custom-text-box {
        font-family: 'Times New Roman ', Times, serif;
        font-size: x-large;
    }

    .table-input {
        font-family: 'Times New Roman ', Times, serif;
        font-weight: bold;
    }

